.donate {
  padding: 100px 0px;
  .donation_details {
    h2 {
      color: $text_primary_color;
      font-size: 32px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &_content_form {
      label {
        font-family: $font-family-Raleway;
        color: $text_primary_color;
        font-size: 16px;
        font-weight: 400;
        span {
          color: $primary_color;
        }
      }
      select {
        &:focus {
          border-color: $primary_color;
          box-shadow: $btn_shadow;
        }
      }

      input {
        &:focus {
          border-color: $primary_color;
          box-shadow: $btn_shadow;
        }
      }
      textarea {
        resize: none;
        &:focus {
          border-color: $primary_color;
          box-shadow: $btn_shadow;
        }
      }

      button {
        padding: 15px 25px;
        border-color: $primary_color;
        background-color: $primary_color;
        &:focus {
          background-color: $primary_color !important;
          border-color: $primary_color !important;
          box-shadow: $btn_shadow !important;
        }
        &:hover {
          background-color: $primary_color !important;
          border-color: $primary_color !important;
        }
      }
    }
  }
  .donor_details {
    h2 {
      color: $text_primary_color;
      font-size: 32px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &_content_form {
      label {
        font-family: $font-family-Raleway;
        color: $text_primary_color;
        font-size: 16px;
        font-weight: 400;
        span {
          color: $primary_color;
        }
      }

      input {
        &:focus {
          border-color: $primary_color;
          box-shadow: $btn_shadow;
        }
      }
      textarea {
        resize: none;
        &:focus {
          border-color: $primary_color;
          box-shadow: $btn_shadow;
        }
      }
    }
  }
}
