/*------------------------------------------------------------------
    Project:        Eco Green - Nature & Environmental Non-Profit HTML5 Templat
    Version:        1.0
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

=Table of contents
 1. Global Config
 2. Global Class
 3. Navbar Top
 4. Navbar
 5. Page Title
 6. Footer
 7. Home Banner Slider
 8. Project Activity
 9. Service
 10. Projects
 11. Testimonial
 12. Blog
 13. Raise Fund
 14. Sponsor
 15. Volunteer
 16. Newsletter
 17. Contact Page
 18. Blog Main Page
 19. Blog Detail
 20. About Page
 21. About Team
 22. About Ceo/President
 23. Service Page
 24. Service Details
 25. Project Page
 26. Project Details
 27. Donate Page
 28. Gallery Page
 29. Gallery Details
 30.  Error 404 Page
 31.  login
 32.  Register
 33.  Password Email
 34.  Reset Password
 35.  Join Now 
 36.  Responsive

-------------------------------------------------------------------*/
/* global Config */
* {
  margin: 0;
  padding: 0;
  outline: 0 !important;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

.pagination li.active a {
  border: 1px solid #77c14b !important;
  color: #fff;
  background-color: #77c14b !important;
}
.pagination li a {
  color: #222222;
}
.pagination li a:hover {
  color: #fff !important;
  background-color: #77c14b;
}
.pagination li a:focus {
  box-shadow: none !important;
}

/* global Class */
.card {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.text_primary_color {
  color: #77c14b;
}

.hover_text_primary_color:hover {
  color: #77c14b;
}

.text_subtitle {
  font-size: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #222222;
}

.btn_primary {
  color: #fff;
  border-color: #77c14b;
  background-color: #77c14b;
}
.btn_primary:hover {
  color: #fff;
  border-color: #77c14b;
  background-color: #77c14b;
}
.btn_primary:focus {
  color: #fff !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
  background-color: #77c14b !important;
  border-color: #77c14b !important;
}

/* Navbar Top */
.navbar_top {
  padding: 10px;
  background-color: #333333;
}
.navbar_top_contact_left .contact_item .contact_item_icon {
  color: #77c14b;
  font-size: 13px;
}
.navbar_top_contact_left .contact_item .contact_item_text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #ababab;
}
.navbar_top_contact_left .contact_item .contact_item_text .contact_item_link {
  text-decoration: none;
  color: #ababab;
}
.navbar_top_contact_left .contact_item .contact_item_text .contact_item_link:hover {
  color: #77c14b;
}
.navbar_top_contact_right a i {
  margin-left: 5px;
  transition: all 300ms ease;
  text-align: center;
  height: 28px;
  width: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #77c14b;
  background-color: #3c3c3c;
  border-radius: 50%;
}
.navbar_top_contact_right a i:hover {
  color: #4f4f4f !important;
  background-color: #fff;
}

/* Navbar */
.navbar {
  border-bottom: 1px solid #ddd;
  padding: 15px 0px;
}
.navbar .navbar_toggler_bar {
  background-color: #77c14b;
  color: #fff;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.navbar_nav_search_icon i {
  cursor: pointer;
  margin-left: 5px;
  transition: all 300ms ease;
  text-align: center;
  height: 28px;
  width: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #77c14b;
  border-radius: 50%;
  border: 1px solid #77c14b;
}
.navbar_nav_search_icon i:hover {
  color: #fff;
  background-color: #77c14b;
}
.navbar_nav_search .dropdown-menu {
  padding: 20px;
  min-width: 30rem;
}
.navbar_nav_search .dropdown-menu .form-control {
  padding: 1.375rem 0.75rem;
}
.navbar_nav_search_form .nav_search_input:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.navbar_nav_search_form .nav_search_input:focus::placeholder {
  color: #77c14b;
}
.navbar_nav_search_form .btn_nav_search {
  color: #fff;
  background-color: #333333;
  border-color: #333333;
}
.navbar_nav_search_form .btn_nav_search:hover {
  background-color: #77c14b;
  border-color: #77c14b;
}
.navbar_nav_search_form .btn_nav_search:focus {
  box-shadow: none !important;
}
.navbar_nav a {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: #222222;
  transition: all linear 0.2s;
}
.navbar_nav a:hover {
  color: #77c14b;
}
.navbar_nav_item .navbar_dropdown_menu {
  border-radius: 0;
  padding: 0;
  min-width: 12rem;
}
.navbar_nav_item .navbar_dropdown_menu .dropdown-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar_nav_item .navbar_dropdown_menu .dropdown-divider {
  margin: 0;
}
.navbar_nav_item .navbar_dropdown_menu a:focus {
  background-color: #77c14b !important;
  color: #fff !important;
}
.navbar .navbar_btn_donate {
  padding: 5px 20px;
  border-color: #77c14b;
  background-color: #77c14b;
  color: #fff;
}
.navbar .navbar_btn_donate:hover {
  background-color: #77c14b;
  border-color: #77c14b;
  color: #fff;
}
.navbar .navbar_btn_donate:focus {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
}

.fixed-top {
  width: 100%;
  position: fixed;
  background-color: #fff;
  animation: fixed-top 300ms ease-in-out;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 0px 0px;
}

@keyframes fixed-top {
  0% {
    top: -70px;
  }
  100% {
    top: 0px;
  }
}
.navbar_top_on_scroll_pb {
  padding-bottom: 87px;
}

/* Page Title */
.page_title {
  background: url("../images/page-title/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.page_title_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 100px 0px;
}
.page_title_overlay_content h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.page_title_overlay_content ul {
  margin-bottom: 0;
}
.page_title_overlay_content ul li {
  display: inline-block;
  margin: 0px 10px;
}
.page_title_overlay_content ul li a {
  font-family: "Courgette", cursive;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
.page_title_overlay_content ul li .active {
  font-family: "Courgette", cursive;
  font-size: 14px;
  font-weight: 400;
  color: #77c14b;
}
.page_title_overlay_content ul li span {
  font-size: 14px;
  color: #fff;
}

/* Footer */
.footer {
  background-color: #333333;
}
.footer_padding {
  padding: 100px 0px;
}
.footer_logo .img {
  background-color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}
.footer_logo_content p {
  font-size: 14px;
  font-weight: 400;
  color: #ababab;
  margin-top: 26px;
}
.footer_logo_icon a i {
  margin-right: 5px;
  transition: all 300ms ease;
  text-align: center;
  height: 28px;
  width: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #77c14b;
  background-color: #3c3c3c;
  border-radius: 50%;
}
.footer_logo_icon a i:hover {
  color: #4f4f4f !important;
  background-color: #fff;
}
.footer_quick_link h3 {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.footer_quick_link ul li {
  margin-bottom: 2px;
}
.footer_quick_link ul li i {
  font-size: 12px;
  color: #77c14b;
  margin-right: 10px;
}
.footer_quick_link ul li a {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ababab;
  text-decoration: none;
  transition: all 300ms linear;
}
.footer_quick_link ul li a:hover {
  color: #fff;
}
.footer_blog_link h3 {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.footer_blog_link ul li i {
  font-size: 12px;
  color: #77c14b;
  margin-right: 10px;
}
.footer_blog_link ul li a {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ababab;
  text-decoration: none;
  transition: all 300ms linear;
}
.footer_blog_link ul li a:hover {
  color: #fff;
}
.footer_blog_link ul li p {
  font-family: "Courgette", cursive;
  font-size: 12px;
  font-weight: 400;
  color: #77c14b;
  margin-bottom: 0;
}
.footer_blog_link .dropdown-divider {
  border-top: 1px solid #ababab !important;
}
.footer_contact .dropdown-divider {
  border-top: 1px solid #ababab !important;
}
.footer_contact h3 {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.footer_contact i {
  font-size: 14px;
  color: #77c14b;
  margin-right: 10px;
}
.footer_contact span {
  font-size: 14px;
  font-weight: 400;
  color: #ababab;
}
.footer_contact ul li {
  margin-bottom: 20px;
}
.footer_contact ul li i {
  font-size: 14px;
  color: #77c14b;
  margin-right: 10px;
}
.footer_contact ul li span {
  font-size: 14px;
  font-weight: 400;
  color: #ababab;
}
.footer_bottom {
  background-color: #2b2b2b;
}
.footer_bottom p {
  font-size: 14px;
  font-weight: 400;
  color: #ababab;
  margin-bottom: 0px;
}

.backToTop {
  position: fixed;
  bottom: 70px;
  right: 15px;
  display: none;
}

.backToTop i {
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: #77c14b;
  transition: all 300ms ease-in-out;
}

/* Home Banner Slider */
.bannerSlider .bannerSlider_overlay {
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bannerSlider .bannerSlider_overlay h2 {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.bannerSlider .bannerSlider_overlay p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}
.bannerSlider .bannerSlider_overlay .btn_join {
  padding: 9px 39px;
  text-transform: capitalize;
  border-color: #77c14b;
  background-color: #77c14b;
  transition: all linear 0.2s ease-in-out;
}
.bannerSlider .bannerSlider_overlay .btn_join:focus {
  color: #fff;
  background-color: #77c14b;
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
}
.bannerSlider .bannerSlider_overlay .btn_join:hover {
  background-color: transparent !important;
  color: #77c14b;
}
.bannerSlider .bannerSlider_overlay .btn_donate {
  padding: 9px 39px;
  text-transform: capitalize;
  color: #77c14b;
  border-color: #77c14b;
  background-color: transparent;
  transition: all 0.2s linear;
}
.bannerSlider .bannerSlider_overlay .btn_donate:focus {
  color: #77c14b;
  background-color: #77c14b;
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
}
.bannerSlider .bannerSlider_overlay .btn_donate:hover {
  background-color: #77c14b;
  color: #fff;
}

/* Project Activity */
.project_activity {
  padding: 100px 0px;
}
.project_activity .icon_box span img {
  margin: 0px 20px;
}
.project_activity .icon_box h2 {
  font-family: "Courgette", cursive;
  font-size: 40px;
  color: #222222;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 60px;
}
.project_activity_counter {
  text-align: center;
  border-radius: 5px;
  padding: 50px 10px;
}
.project_activity_counter span {
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  color: #77c14b;
  font-weight: 700;
}
.project_activity_counter h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 700;
}

/* Service */
.our_service {
  background: url("../images/page-title/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.our_service_overlay {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 100px 0px;
}
.our_service_header h3 {
  font-family: "Courgette", cursive;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.our_service_header h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.our_service_product {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 80px 15px 70px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.05);
  margin-bottom: 30px;
  transition: all 0.2s linear;
}
.our_service_product:hover {
  background-color: rgba(119, 193, 75, 0.1);
}
.our_service_product:hover h2 {
  color: #77c14b;
}
.our_service_product h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
  transition: all 0.2s linear;
}
.our_service_product p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  line-height: 20px;
  margin-top: 20px;
}
.our_service_product a {
  text-decoration: none;
}

/* Projects */
.our_projects {
  padding: 100px 0px;
}
.our_projects_header h3 {
  font-family: "Courgette", cursive;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.our_projects_header h2 {
  color: #222222;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.our_projects_menu {
  margin-bottom: 50px;
}
.our_projects_menu ul li {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  padding: 0px 5px;
  text-transform: uppercase;
}
.our_projects_menu ul li.active {
  color: #77c14b;
}
.our_projects_grid .single_project {
  margin: 15px;
}
.our_projects_grid .single_project:hover .single_project_image_container img {
  transform: scale(1.15);
}
.our_projects_grid .single_project:hover .single_project_image_container_overlay {
  top: 0%;
  height: 100%;
}
.our_projects_grid .single_project:hover .single_project_image_container_overlay .content {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  padding: 20px 10px 25px 10px;
  transform: translateY(-50%);
}
.our_projects_grid .single_project:hover .single_project_image_container_overlay .content a {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  line-height: 20px;
}
.our_projects_grid .single_project_image_container {
  position: relative;
  overflow: hidden;
}
.our_projects_grid .single_project_image_container img {
  width: 100%;
  transform: scale(1);
  transition: all 0.4s ease;
}
.our_projects_grid .single_project_image_container_overlay {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0%;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.8);
}
.our_projects_grid .single_project_image_container_overlay .content a {
  display: none;
}
.our_projects .project_page_pagination ul li a {
  color: #222222;
}
.our_projects .project_page_pagination ul li a:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.our_projects .project_page_pagination ul li a.active {
  color: #fff;
  background-color: #77c14b;
}

/* Testimonial */
.testimonial {
  background: url("images/page-title/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.testimonial_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 100px 0px;
}
.testimonial_overlay_header h3 {
  font-family: "Courgette", cursive;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.testimonial_overlay_header h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.testimonial .single_testimonial {
  cursor: move;
}
.testimonial .single_testimonial:hover .testimonial_avatar {
  border-color: #77c14b;
}
.testimonial .single_testimonial_body h4 {
  font-family: "Raleway", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
.testimonial .single_testimonial_body h5 {
  font-family: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}
.testimonial .single_testimonial_body p {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  line-height: 20px;
}
.testimonial_avatar {
  transition: all 0.3s linear;
  border: 2px solid transparent;
}

/* Blog */
.blog {
  padding: 100px 0px;
}
.blog_header h3 {
  font-family: "Courgette", cursive;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.blog_header h2 {
  color: #222222;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.blog .single_blog {
  padding-bottom: 15px;
}
.blog .single_blog:hover .single_blog_card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.blog .single_blog:hover a {
  color: #77c14b;
}
.blog .single_blog:hover .single_blog_card_footer {
  background-color: rgba(119, 193, 75, 0.05);
}
.blog .single_blog_card_body h5 {
  font-family: "Raleway", sans-serif;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}
.blog .single_blog_card_body a {
  text-decoration: none;
  display: block;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  transition: all linear 0.2s;
}
.blog .single_blog_card_body p {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}
.blog .single_blog_card_footer {
  background-color: transparent;
}
.blog .single_blog_card_footer .date span {
  font-family: "Courgette", cursive;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.blog .single_blog_card_footer .comments span {
  font-family: "Courgette", cursive;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  transition: all linear 0.2s;
}
.blog .single_blog_card_footer .comments span:hover {
  color: #77c14b;
}

/* Raise Fund */
.raise_fund {
  background: url("../images/page-title/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.raise_fund_overlay {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 100px 0px;
}
.raise_fund_overlay_detail_header h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.raise_fund_overlay_detail_header p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 20px;
}
.raise_fund_overlay_detail .btn_donate {
  padding: 10px 25px;
  border-color: #77c14b;
  background-color: #77c14b;
}
.raise_fund_overlay_detail .btn_donate:focus {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
}
.raise_fund_overlay_detail .btn_donate:hover {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
}
.raise_fund_overlay_detail .raise_fund_progressbar {
  margin-top: 50px;
}
.raise_fund_overlay_detail .raise_fund_progressbar .percentCount {
  color: #fff;
}
.raise_fund_overlay_detail .fund_collection ul li {
  display: inline;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 10px;
  margin-top: 20px;
  font-size: 16px;
}
.raise_fund_overlay_detail .fund_collection ul li .goal {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  background-color: #fe5f2a;
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 0px 3px;
}
.raise_fund_overlay_detail .fund_collection ul li .raised {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  background-color: #009fff;
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 0px 3px;
}

/* Sponsor */
.sponsor {
  background-color: #f1f1f1;
}
.sponsor_overlay {
  padding: 100px 0px;
}
.sponsor_overlay_header h3 {
  font-family: "Courgette", cursive;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}
.sponsor_overlay_header h2 {
  color: #000000;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.sponsor .single_sponsor {
  background-color: transparent;
}

/* Volunteer */
.volunteer {
  background: url("../images/page-title/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.volunteer_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 100px 0px;
}
.volunteer_overlay_header h3 {
  font-family: "Courgette", cursive;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.volunteer_overlay_header h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.volunteer_overlay_header a {
  padding: 10px 25px;
  border-color: #77c14b;
  background-color: #77c14b;
}
.volunteer_overlay_header a:focus {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
}
.volunteer_overlay_header a:hover {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
}

/* Newsletter */
.newsletter {
  position: relative;
  background: #77c14b;
}
.newsletter::before {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url("../images/page-title/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.newsletter_overlay {
  padding: 60px 0px 45px;
}
.newsletter_overlay_text h5 {
  font-family: "Courgette", cursive;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.newsletter_overlay_text h4 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.newsletter_overlay .newsletter_mail_send_form .newsletter_mail_send_input {
  padding: 30px;
}
.newsletter_overlay .newsletter_mail_send_form .newsletter_mail_send_input:focus {
  border-color: #77c14b;
  box-shadow: none !important;
}
.newsletter_overlay .newsletter_mail_send_form .newsletter_mail_send_input:focus::placeholder {
  color: #77c14b;
}
.newsletter_overlay .newsletter_mail_send_form .btn_newsletter_mail_send {
  padding: 0px 20px;
  color: #fff;
  background-color: #333333;
  border-color: #333333;
}
.newsletter_overlay .newsletter_mail_send_form .btn_newsletter_mail_send:hover {
  background-color: #77c14b;
  border-color: #fff;
}
.newsletter_overlay .newsletter_mail_send_form .btn_newsletter_mail_send:focus {
  box-shadow: none !important;
}

/* Contact Page */
.contact_details {
  padding: 100px 0px;
}
.contact_details_content h3 {
  font-family: "Courgette", cursive;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.contact_details_content h2 {
  color: #222222;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.contact_details_content_form label {
  font-family: "Raleway", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.contact_details_content_form label span {
  color: #77c14b;
}
.contact_details_content_form input:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.contact_details_content_form textarea {
  resize: none;
}
.contact_details_content_form textarea:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.contact_details_content button {
  padding: 15px 25px;
  border-color: #77c14b;
  background-color: #77c14b;
}
.contact_details_content button:focus {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
}
.contact_details_content button:hover {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
}
.contact_details_address h2 {
  color: #222222;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.contact_details_address p {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  line-height: 20px;
}
.contact_details_address_box_content h3 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.contact_details_address_box_content p {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  line-height: 20px;
}
.contact_details_address_box_content span {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
}
.contact_details_address_box_icon {
  padding: 30px;
  background-color: #77c14b;
}
.contact_details_address_box_icon.map i {
  font-size: 25px;
}
.contact_details_address_box_icon i {
  color: #fff;
  font-size: 20px;
}

/* blog Main  Page*/
.blog_main {
  padding: 100px 0px;
}
.blog_main_sidebar_details .dropdown-divider {
  margin: 20px 0px;
}
.blog_main_sidebar_details .single_blog:hover .single_blog_card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.blog_main_sidebar_details .single_blog:hover a {
  color: #77c14b;
}
.blog_main_sidebar_details .single_blog:hover .single_blog_card_footer {
  background-color: rgba(119, 193, 75, 0.05);
}
.blog_main_sidebar_details .single_blog_card_body h5 {
  font-family: "Raleway", sans-serif;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}
.blog_main_sidebar_details .single_blog_card_body a {
  text-decoration: none;
  display: block;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.2s linear;
  margin-bottom: 15px;
}
.blog_main_sidebar_details .single_blog_card_footer {
  background-color: transparent;
}
.blog_main_sidebar_details .single_blog_card_footer .date span {
  font-family: "Courgette", cursive;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.blog_main_sidebar_details .single_blog_card_footer .comments span {
  font-family: "Courgette", cursive;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.2s linear;
}
.blog_main_sidebar_details .single_blog_card_footer .comments span:hover {
  color: #77c14b;
}
.blog_main_sidebar .search_box input:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.blog_main_sidebar .search_box input:focus::placeholder {
  color: #77c14b;
}
.blog_main_sidebar .search_box button {
  color: #fff;
  background-color: #333333;
  border-color: #333333;
}
.blog_main_sidebar .search_box button:hover {
  background-color: #77c14b;
  border-color: #77c14b;
}
.blog_main_sidebar .search_box button:focus {
  box-shadow: none !important;
}
.blog_main_sidebar .blog_categories h2 {
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px;
}
.blog_main_sidebar .blog_categories ul li i {
  font-size: 12px;
  color: #77c14b;
  margin-right: 10px;
}
.blog_main_sidebar .blog_categories ul li a {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  text-decoration: none;
  transition: all 0.3s linear;
}
.blog_main_sidebar .blog_categories ul li a:hover {
  color: #77c14b;
}
.blog_main_sidebar .blog_recent_posts h2 {
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px;
}
.blog_main_sidebar .blog_recent_posts a {
  text-decoration: none;
  display: block;
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s linear;
}
.blog_main_sidebar .blog_recent_posts a:hover {
  color: #77c14b;
}
.blog_main_sidebar .blog_recent_posts span {
  font-family: "Courgette", cursive;
  font-size: 12px;
  font-weight: 400;
  color: #222222;
}
.blog_main_sidebar .blog_tags h2 {
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px;
}
.blog_main_sidebar .blog_tags_button a {
  margin: 5px;
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  border-color: #77c14b;
  background-color: #77c14b;
}
.blog_main_sidebar .blog_tags_button a:focus {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
}

/* blog detail */
.blog_main_sidebar_details .blog_detail_card_body_title_top h5 {
  font-family: "Raleway", sans-serif;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}
.blog_main_sidebar_details .blog_detail_card_body_title_top span {
  font-family: "Courgette", cursive;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}
.blog_main_sidebar_details .blog_detail_card_body h2 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.blog_main_sidebar_details .blog_detail_card_body p {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  line-height: 20px;
}
.blog_main_sidebar_details .blog_detail_card_footer {
  background-color: transparent;
}
.blog_main_sidebar_details .blog_detail_card_footer .tags h5 {
  display: inline;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
}
.blog_main_sidebar_details .blog_detail_card_footer .tags a {
  display: inline;
  text-decoration: none;
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  transition: all 200ms linear;
}
.blog_main_sidebar_details .blog_detail_card_footer .tags a:hover {
  color: #77c14b;
}
.blog_main_sidebar_details .blog_detail_card_footer .share_icons h5 {
  display: inline;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
}
.blog_main_sidebar_details .blog_detail_card_footer .share_icons a i {
  margin-left: 5px;
  transition: all 300ms ease;
  text-align: center;
  height: 28px;
  width: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #77c14b;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.blog_main_sidebar_details .blog_detail_card_footer .share_icons a i:hover {
  color: #4f4f4f !important;
}
.blog_main .blog_datail_comments h2 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 30px;
}
.blog_main .blog_datail_comments .single_comment_body h5 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
}
.blog_main .blog_datail_comments .single_comment_body h4 {
  font-family: "Courgette", cursive;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
}
.blog_main .blog_datail_comments .single_comment_body p {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  line-height: 20px;
}
.blog_main .blog_datail_comments .single_comment .comment_reply_btn a {
  display: inline;
  text-decoration: none;
  color: #77c14b;
  font-size: 14px;
  font-weight: 400;
}
.blog_main .blog_datail_comments_form h2 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 30px;
}
.blog_main .blog_datail_comments_form label {
  font-family: "Raleway", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.blog_main .blog_datail_comments_form label span {
  color: #77c14b;
}
.blog_main .blog_datail_comments_form input:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.blog_main .blog_datail_comments_form textarea {
  resize: none;
}
.blog_main .blog_datail_comments_form textarea:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.blog_main .blog_datail_comments_form button {
  padding: 15px 35px;
  border-color: #77c14b;
  background-color: #77c14b;
}
.blog_main .blog_datail_comments_form button:focus {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
}
.blog_main .blog_datail_comments_form button:hover {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
}

/* about page */
.about {
  padding: 100px 0px;
}
.about_detail h3 {
  font-family: "Courgette", cursive;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.about_detail h2 {
  color: #222222;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.about_detail p {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  line-height: 20px;
}
.about_detail button {
  padding: 10px 35px;
  border-color: #77c14b;
  background-color: #77c14b;
}
.about_detail button:focus {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
}
.about_detail button:hover {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
}
.about_video {
  background: url("../images/page-title/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about_video_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 100px 0px;
}
.about_video_overlay .about_video_icon a i {
  cursor: pointer;
  transition: all 300ms ease;
  text-align: center;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  color: #77c14b;
  background-color: #fff;
  border-radius: 50%;
}
.about_video_overlay .about_video_icon a i:hover {
  color: #fff !important;
  background-color: #77c14b;
}

/* about Team */
.team {
  padding: 100px 0px;
}
.team_header {
  margin-bottom: 50px;
}
.team_header h3 {
  font-family: "Courgette", cursive;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.team_header h2 {
  color: #222222;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.team_member {
  padding: 10px 0px;
}
.team_member .single_team_member {
  position: relative;
  padding: 50px 10px;
  cursor: move;
}
.team_member .single_team_member:hover .single_team_member_header_overlay {
  opacity: 1;
  height: 25%;
  transition: all 0.5s ease;
}
.team_member .single_team_member:hover .single_team_member_header_overlay_icon {
  display: block;
}
.team_member .single_team_member_header {
  margin-top: 20px;
}
.team_member .single_team_member_header h3 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.team_member .single_team_member_header h4 {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.team_member .single_team_member_header_overlay {
  position: absolute;
  bottom: -25px;
  left: 0px;
  width: 100%;
  height: 0%;
  opacity: 0;
  transition: all 0.5s ease;
}
.team_member .single_team_member_header_overlay_icon {
  display: none;
}
.team_member .single_team_member_header_overlay_icon a i {
  margin-left: 5px;
  transition: all 300ms ease;
  text-align: center;
  height: 28px;
  width: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #77c14b;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.team_member .single_team_member_header_overlay_icon a i:hover {
  color: #4f4f4f !important;
}

/* about Ceo/President */
.ceo {
  padding: 100px 0px;
  background-color: #77c14b;
}
.ceo_header h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.ceo_header p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 20px;
}
.ceo_header .ceo_body h4 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
.ceo_header .ceo_body h5 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

/* Service Page */
.service_page {
  padding: 100px 0px;
}
.service_page_header h3 {
  font-family: "Courgette", cursive;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.service_page_header h2 {
  color: #222222;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.service_page_product {
  padding: 80px 15px 70px;
  text-align: center;
  border: 1px solid #353535;
  margin-bottom: 30px;
}
.service_page_product:hover h2 {
  color: #77c14b;
}
.service_page_product h2 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
  transition: all 0.2s linear;
}
.service_page_product p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.8);
  line-height: 20px;
  margin-top: 20px;
}
.service_page_product a {
  text-decoration: none;
}

/* Service Details */
.service_details {
  padding: 100px 0px;
}
.service_details_card_body h2 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
}
.service_details_card_body p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.8);
  line-height: 20px;
}
.service_details_card_body ul li {
  font-size: 14px;
  font-weight: 500;
  color: #222222;
  line-height: 20px;
}
.service_details_card_body ul li span {
  color: #77c14b;
}
.service_details .sidebar_service_details_more_services h2 {
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 15px 5px;
  background-color: #f1f1f1;
  text-align: center;
}
.service_details .sidebar_service_details_more_services a {
  text-decoration: none;
  display: block;
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s linear;
}
.service_details .sidebar_service_details_more_services a:hover {
  color: #77c14b;
}

/* Project page */
.project_page_projects {
  padding: 100px 0px;
}
.project_page_projects_header {
  margin-bottom: 30px;
}
.project_page_projects_header h3 {
  font-family: "Courgette", cursive;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.project_page_projects_header h2 {
  color: #222222;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.project_page_projects_menu ul li {
  margin: 5px 0px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
}
.project_page_projects_menu ul li.active {
  color: #77c14b;
}
.project_page_projects_grid .single_project {
  margin: 5px;
}
.project_page_projects_grid .single_project:hover .single_project_image_container img {
  transform: scale(1.15);
}
.project_page_projects_grid .single_project:hover .single_project_image_container_overlay {
  top: 0%;
  height: 100%;
}
.project_page_projects_grid .single_project:hover .single_project_image_container_overlay .content {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  padding: 20px 10px 25px 10px;
  transform: translateY(-50%);
}
.project_page_projects_grid .single_project:hover .single_project_image_container_overlay .content a {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  line-height: 20px;
}
.project_page_projects_grid .single_project_image_container {
  position: relative;
  overflow: hidden;
}
.project_page_projects_grid .single_project_image_container img {
  width: 100%;
  transform: scale(1);
  transition: all linear 0.4s;
}
.project_page_projects_grid .single_project_image_container_overlay {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0%;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.8);
}
.project_page_projects_grid .single_project_image_container_overlay .content a {
  display: none;
}

/* Project Details */
.project_details {
  padding: 100px 0px;
}
.project_details_sidebar_upcomig_project h2 {
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 15px 5px;
  background-color: #f1f1f1;
  text-align: center;
}
.project_details_sidebar_upcomig_project a {
  text-decoration: none;
  display: block;
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  transition: all linear 0.2s;
}
.project_details_sidebar_upcomig_project a:hover {
  color: #77c14b;
}
.project_details_sidebar_upcomig_project span {
  font-family: "Courgette", cursive;
  font-size: 12px;
  font-weight: 400;
  color: #222222;
}
.project_details_sidebar_ongoing_project h2 {
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 15px 5px;
  background-color: #f1f1f1;
  text-align: center;
}
.project_details_sidebar_ongoing_project a {
  text-decoration: none;
  display: block;
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  transition: all linear 0.2s;
}
.project_details_sidebar_ongoing_project a:hover {
  color: #77c14b;
}
.project_details_sidebar_ongoing_project span {
  font-family: "Courgette", cursive;
  font-size: 12px;
  font-weight: 400;
  color: #222222;
}
.project_details_card_body h2 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
}
.project_details_card_body button.donate_btn {
  padding: 5px 15px;
  border-color: #77c14b;
  background-color: #77c14b;
}
.project_details_card_body button.donate_btn:focus {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
}
.project_details_card_body button.donate_btn:hover {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
}
.project_details_card_body p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.8);
  line-height: 20px;
}
.project_details_card_body h4 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.project_details_card_body ul li {
  font-size: 14px;
  font-weight: 500;
  color: #222222;
  line-height: 20px;
}
.project_details_card_body ul li span {
  color: #77c14b;
}
.project_details_accordion_card .card-header {
  background-color: transparent;
}
.project_details_accordion_card button {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.project_details_accordion_card button:focus {
  box-shadow: none;
}
.project_details_accordion_card_body ul li {
  font-size: 14px;
  font-weight: 500;
  color: #222222;
  line-height: 20px;
}
.project_details_accordion_card_body ul li span {
  margin-left: 25px;
  color: #77c14b;
}

/* Donate Page */
.donate {
  padding: 100px 0px;
}
.donate .donation_details h2 {
  color: #222222;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.donate .donation_details_content_form label {
  font-family: "Raleway", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.donate .donation_details_content_form label span {
  color: #77c14b;
}
.donate .donation_details_content_form select:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.donate .donation_details_content_form input:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.donate .donation_details_content_form textarea {
  resize: none;
}
.donate .donation_details_content_form textarea:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.donate .donation_details_content_form button {
  padding: 15px 25px;
  border-color: #77c14b;
  background-color: #77c14b;
}
.donate .donation_details_content_form button:focus {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
}
.donate .donation_details_content_form button:hover {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
}
.donate .donor_details h2 {
  color: #222222;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.donate .donor_details_content_form label {
  font-family: "Raleway", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.donate .donor_details_content_form label span {
  color: #77c14b;
}
.donate .donor_details_content_form input:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.donate .donor_details_content_form textarea {
  resize: none;
}
.donate .donor_details_content_form textarea:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}

/* Gallery Page*/
.gallery_page {
  padding: 100px 0px;
}
.gallery_page .single_gallery {
  margin-bottom: 30px;
}
.gallery_page .single_gallery:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.gallery_page .single_gallery_card_image {
  position: relative;
  overflow: hidden;
}
.gallery_page .single_gallery_card_image img {
  transform: scale(1);
  transition: all 300ms ease;
}
.gallery_page .single_gallery_card_image:hover .single_gallery_card_image img {
  transform: scale(1.15);
}
.gallery_page .single_gallery_card_image:hover .single_gallery_card_image_overlay {
  transform: scale(1);
}
.gallery_page .single_gallery_card_image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: all 300ms ease;
  background: rgba(0, 0, 0, 0.6);
}
.gallery_page .single_gallery_card_image_overlay a i {
  width: 50px;
  height: 50px;
  font-size: 16px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  color: #77c14b;
  background: #fff;
}
.gallery_page .single_gallery_card_body {
  height: 60px;
  overflow: hidden;
}
.gallery_page .single_gallery_card_title {
  color: #222222;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  max-width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.gallery_page .single_gallery_card_footer .icons_list {
  display: inline-block;
}
.gallery_page .single_gallery_card_footer .icons_link {
  text-decoration: none;
  color: #222222;
  font-size: 12px;
  margin-right: 5px;
}
.gallery_page .single_gallery_card_footer .icons_link:hover {
  color: #77c14b;
}

/* Gallery Details */
.gallery_details {
  padding: 100px 0px;
}
.gallery_details .header {
  background-color: #f1f1f1;
}
.gallery_details .header h2 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.gallery_details .gallery_images .img {
  width: 100%;
  height: 180px;
  margin-bottom: 30px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Error 404 Page */
.error_404 {
  padding: 100px 0px;
}
.error_404_content h2 {
  font-family: "Courgette", cursive;
  color: #222222;
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;
}
.error_404_content h3 {
  font-family: "Courgette", cursive;
  color: #222222;
  font-size: 50px;
  font-weight: 400;
}
.error_404_content p {
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  line-height: 20px;
}
.error_404_content a {
  color: #fff;
  padding: 10px 35px;
  border-color: #77c14b;
  background-color: #77c14b;
  margin-top: 28px;
}
.error_404_content a i {
  margin-right: 5px;
}
.error_404_content a:focus {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
}
.error_404_content a:hover {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
  color: #fff;
}

/* login */
.login {
  padding: 100px 0px;
}
.login_card_form label {
  font-family: "Raleway", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.login_card_form input:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.login_card_form button {
  padding: 5px 25px;
  border-color: #77c14b;
  background-color: #77c14b;
}
.login_card_form button:focus {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
}
.login_card_form button:hover {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
}
.login_card_form_forgot_password a {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  text-decoration: underline;
  transition: all 300ms linear;
}
.login_card_form_forgot_password a:hover {
  color: #77c14b;
}
.login_card_form_create_account {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
}
.login_card_form_create_account a {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  text-decoration: underline;
  transition: all 300ms linear;
}
.login_card_form_create_account a:hover {
  color: #77c14b;
}

/* Register */
.register {
  padding: 100px 0px;
}
.register_card_form label {
  font-family: "Raleway", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.register_card_form input:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.register_card_form button {
  padding: 5px 25px;
  border-color: #77c14b;
  background-color: #77c14b;
}
.register_card_form button:focus {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
}
.register_card_form button:hover {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
}
.register_card_form_have_account {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
}
.register_card_form_have_account a {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  text-decoration: underline;
  transition: all 300ms linear;
}
.register_card_form_have_account a:hover {
  color: #77c14b;
}

/* Password Email */
.reset {
  padding: 100px 0px;
}
.reset_card_form input:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.reset_card_form input::placeholder {
  color: #77c14b;
}
.reset_card_form button {
  color: #fff;
  border-color: #77c14b;
  background-color: #77c14b;
}
.reset_card_form button:focus {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
}
.reset_card_form button:hover {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
}

/* Reset Password */
.reset_password {
  padding: 100px 0px;
}
.reset_password_card_form label {
  font-family: "Raleway", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.reset_password_card_form input:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.reset_password_card_form button {
  padding: 5px 25px;
  border-color: #77c14b;
  background-color: #77c14b;
}
.reset_password_card_form button:focus {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5) !important;
}
.reset_password_card_form button:hover {
  background-color: #77c14b !important;
  border-color: #77c14b !important;
}

/* Join Now */
.join_now_page {
  padding: 100px 0px;
}
.join_now_page .join_now_form_header {
  font-family: "Raleway", sans-serif;
  color: #222222;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  text-transform: uppercase;
  line-height: 1.2;
}
.join_now_page .join_now_form_body label {
  font-family: "Open Sans", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.join_now_page .join_now_form_body label span {
  font-size: 5px;
  color: #77c14b;
}
.join_now_page .join_now_form_body input:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.join_now_page .join_now_form_body select:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}
.join_now_page .join_now_form_body textarea {
  resize: none;
}
.join_now_page .join_now_form_body textarea:focus {
  border-color: #77c14b;
  box-shadow: 0 0 0 0.2rem rgba(119, 193, 75, 0.5);
}

/* Responsive */
@media (max-width: 1199.98px) {
  .bannerSlider .carousel-img {
    height: 500px;
  }
  .bannerSlider .bannerSlider_overlay h2 {
    font-size: 35px;
  }
  .bannerSlider .bannerSlider_overlay .btn_join {
    padding: 5px 20px;
  }
  .bannerSlider .bannerSlider_overlay .btn_donate {
    padding: 5px 20px;
  }

  .footer_logo_icon a i {
    margin-right: 3px;
  }
}
@media (max-width: 991.98px) {
  .bannerSlider .carousel-img {
    height: 500px;
  }
  .bannerSlider .bannerSlider_overlay h2 {
    font-size: 35px;
  }
  .bannerSlider .bannerSlider_overlay .btn_join {
    padding: 5px 20px;
  }
  .bannerSlider .bannerSlider_overlay .btn_donate {
    padding: 5px 20px;
  }
}
@media (max-width: 767.98px) {
  .project_activity {
    padding: 50px 0px;
  }

  .our_service_overlay {
    padding: 50px 0px;
  }

  .our_projects {
    padding: 50px 0px;
  }

  .testimonial_overlay {
    padding: 50px 0px;
  }

  .blog {
    padding: 50px 0px;
  }

  .raise_fund_overlay {
    padding: 50px 0px;
  }

  .sponsor_overlay {
    padding: 50px 0px;
  }

  .volunteer_overlay {
    padding: 50px 0px;
  }

  .footer_padding {
    padding: 50px 0px;
  }

  .page_title_overlay {
    padding: 50px 0px;
  }

  .about {
    padding: 50px 0px;
  }

  .team {
    padding: 50px 0px;
  }

  .ceo {
    padding: 50px 0px;
  }

  .service_page {
    padding: 50px 0px;
  }

  .service_details {
    padding: 50px 0px;
  }

  .project_details {
    padding: 50px 0px;
  }

  .gallery_page {
    padding: 50px 0px;
  }

  .gallery_details {
    padding: 50px 0px;
  }

  .blog_main {
    padding: 50px 0px;
  }

  .contact_details {
    padding: 50px 0px;
  }

  .donate {
    padding: 50px 0px;
  }

  .register {
    padding: 50px 0px;
  }

  .login {
    padding: 50px 0px;
  }

  .error_404 {
    padding: 50px 0px;
  }

  .reset {
    padding: 50px 0px;
  }

  .reset_password {
    padding: 50px 0px;
  }

  .join_now_page {
    padding: 50px 0px;
  }

  .navbar_top_on_scroll_pb {
    padding-bottom: 60px;
  }

  .bannerSlider .carousel-img {
    height: 350px;
  }
  .bannerSlider .bannerSlider_overlay {
    background: rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 767.98px) {
  .bannerSlider .carousel .carousel_indicators {
    flex-direction: column;
    top: 50%;
    bottom: unset;
    right: 0;
    left: unset;
    margin-right: unset;
    margin-left: unset;
    transform: translateY(-50%);
  }
  .bannerSlider .carousel .carousel_indicators .carousel_indicators_list {
    box-sizing: unset;
    flex: unset;
    width: unset;
    height: unset;
    margin-right: 5px;
    margin-bottom: 5px;
    text-indent: unset;
    cursor: pointer;
    background-color: unset;
    background-clip: unset;
    opacity: 0.5;
    transition: opacity 300ms ease;
    border: 3px solid rgba(255, 255, 255, 0.75);
  }
  .bannerSlider .carousel .carousel_indicators .carousel_indicators_list .img {
    width: 60px;
    height: 35px;
  }
  .bannerSlider .carousel .carousel_indicators .carousel_indicators_list.active {
    border: 3px solid rgba(255, 255, 255, 0.95);
  }
}
@media (max-width: 575.98px) {
  .project_activity .icon_box h2,
  .our_service_header h2,
  .our_projects_header h2,
  .testimonial_overlay_header h2,
  .blog_header h2,
  .raise_fund_overlay_detail_header h2,
  .sponsor_overlay_header h2,
  .volunteer_overlay_header h2,
  .newsletter_overlay_text h4,
  .page_title_overlay_content h2,
  .about_detail h2,
  .team_header h2,
  .ceo_header h2,
  .service_page_header h2,
  .contact_details_content h2,
  .contact_details_address h2,
  .donate .donor_details h2,
  .donate .donation_details h2 {
    font-size: 24px;
  }

  .navbar_nav li {
    margin: 5px 0px;
  }

  .bannerSlider .carousel-img {
    height: 250px;
  }
  .bannerSlider .bannerSlider_overlay {
    background: rgba(0, 0, 0, 0.1);
  }

  .project_activity .icon_box span img {
    margin: 0px 10px;
  }

  .blog_main_sidebar_details .blog_detail_card_footer .share_icons h5 {
    display: block;
  }

  .gallery_details .gallery_images .img {
    height: 220px;
  }
}
