.reset {
  padding: 100px 0px;
  &_card {
    // background-color: $navbarTop_background_color;
    &_form {
      input {
        &:focus {
          border-color: $primary_color;
          box-shadow: $btn_shadow;
        }
        &::placeholder {
          color: $primary_color;
        }
      }
      button {
        color: $secondary_color;
        border-color: $primary_color;
        background-color: $primary_color;
        &:focus {
          background-color: $primary_color !important;
          border-color: $primary_color !important;
          box-shadow: $btn_shadow !important;
        }
        &:hover {
          background-color: $primary_color !important;
          border-color: $primary_color !important;
        }
      }
    }
  }
}
